<!-- <p>orbit-counts works!</p>-->

<h3>Satellite Counts:</h3>
<div class="counts"> 
    <div> Total: <span>9</span></div> 

    <div>Space Debris: <span>{{count2('space debris')}}</span></div>
    <div>Communication: <span>{{count2('communication')}}</span></div>
    <div>Probe: <span>{{count2('probe')}}</span></div>
    <div>Positioning: <span>{{count2('positioning')}}</span></div>
    <div>Space Station: <span>{{count2('space station')}}</span></div>
    <div>Telescope: <span>{{count2('telescope')}}</span></div>
</div>