<!-- <p>orbit-list works!</p> -->

<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable">Name</th>
      <th class="sortable">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>

   <tr *ngFor ="let object of satellites">
       <td>{{object.name}}</td>
       <td [class.warning]="object.shouldShowWarning()">{{object.type}}</td>
       <td>{{object.operational}}</td>
       <td>{{object.orbitType}}</td>
       <td>{{object.launchDate}}</td>
   </tr>


   
</table>
