.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: goldenrod;
}

table {
  color:deeppink;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: black
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }